**/.*/
**/*.ts
**/*.js.map
.prettierrc
.gitignore
.eslintignore
.eslintrc.js
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/package-lock.json
contributing.md
scripts/
client/**
node_modules/
!client/dist/**/*.js
server/**
!server/dist/**/*.js
**/*.zip
**/*.vsix
imgs
!imgs/PQIcon.png
