**/.*/
**/*.ts
**/*.js.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.tsbuildinfo
**/tslint.json
**/package-lock.json
contributing.md
.travis.yml
scripts/
packages/
client/**
!client/dist/**/*.js
server/**
!server/dist/**/*.js
**/*.zip
**/*.vsix
